<ol class="breadcrumb float-xl-right">
    <li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
    <li class="breadcrumb-item"><a href="javascript:;" translate="webpagos.adminModule"></a></li>
    <li class="breadcrumb-item active">{{properties.title}}</li>
</ol>
<h1 class="page-header">{{properties.title}} <small>Formulario de {{properties.title}}</small></h1>

<div class="panel panel-inverse" *ngIf="isDataLoaded">
    <!-- begin panel-heading -->
    <div class="panel-heading">
        <h4 class="panel-title">{{properties.title}}</h4>
        <div class="panel-heading-btn">
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i
                    class="fa fa-expand"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i
                    class="fa fa-redo"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i
                    class="fa fa-minus"></i></a>

        </div>
    </div>
    <!-- end panel-heading -->
    <!-- begin panel-body -->
    <div class="panel-body">
        <div class="table-responsive">
            <h4 style="border-bottom: solid 1px;padding-bottom: 6px;">{{'webpagos.register' | translate}} - {{properties.title}}</h4>
            <form class="col-sm-12" style="padding-top: 6px;">
                <!-- <div class="form-group-sm row">
                    <label for="name" class="col-lg-3 col-sm-12 col-form-label">{{'webpagos.cnfOrg.name' | translate}} <span
                            style="color: red;font-size: 16px !important;font-weight: bold;">*</span></label>
                    <div class="col-sm-12 col-lg-9"> <input type="text" [(ngModel)]="model.name" maxlength="255"
                            name="name" id="name" name="name" class="form-control-sm col-sm-12 col-lg-6"
                            placeholder="Ingrese nombre" />
                        <div class="alert alert-danger col-sm-12 col-lg-6" *ngIf="error?.name">{{ error.name }}</div>
                    </div>
                    
                </div>
                <div class="form-group-sm row">
                    <label for="address" class="col-lg-3 col-sm-12 col-form-label">{{'webpagos.cnfOrg.address' | translate}}</label>
                    <div class="col-sm-12 col-lg-9"> <input type="text" [(ngModel)]="model.address" maxlength="255"
                            name="address" id="address" name="address" class="form-control-sm col-sm-12 col-lg-6"
                            placeholder="Ingrese dirección" />
                        <div class="alert alert-danger col-sm-12 col-lg-6" *ngIf="error?.address">{{ error.address }}</div>
                    </div>
                    
                </div>
                <div class="form-group-sm row">
                    <label class="col-lg-3 col-sm-12 col-form-label">{{'webpagos.cnfOrg.cnfCompany' | translate}} <span
                            style="color: red;font-size: 16px !important;font-weight: bold;">*</span></label>
                    <div class="col-sm-12 col-lg-9">
                        <select name="model.cnfCompany" [(ngModel)]="model.cnfCompany"
                        [compareWith]="compareCnfCompany"
                            class="form-control-sm col-sm-12 col-lg-6">
                            <option [ngValue]="selectDefaultCompany">{{selectDefaultCompany.name}}</option>
                            <option *ngFor="let item of listCnfCompany; index as i;" [ngValue]="item">{{item.name}}
                            </option>

                        </select>
                        <div class="alert alert-danger col-sm-12 col-lg-6" *ngIf='error?["cnfCompany.name"]:false'>{{ error["cnfCompany.name"] }}</div>
                    </div>
                    
                </div>
                <div class="form-group-sm row">
                    <label class="col-lg-3 col-sm-12 col-form-label">{{'webpagos.cnfOrg.cnfCountry' | translate}} <span
                            style="color: red;font-size: 16px !important;font-weight: bold;">*</span></label>
                    <div class="col-sm-12 col-lg-9">
                        <select name="cnfCountry" [(ngModel)]="selectedCnfCountry"
                        [compareWith]="compareCnfCountry" (change)="loadCnfRegion(selectedCnfCountry)"
                            class="form-control-sm col-sm-12 col-lg-6">
                            <option [ngValue]="selectDefault">{{selectDefault.name}}</option>
                            <option *ngFor="let item of listCnfCountry; index as i;" [ngValue]="item">{{item.name}}
                            </option>
                        </select>
                    </div>
                    
                </div>
                <div class="form-group-sm row">
                    <label class="col-lg-3 col-sm-12 col-form-label">{{'webpagos.cnfOrg.cnfRegion' | translate}} <span
                            style="color: red;font-size: 16px !important;font-weight: bold;">*</span></label>
                    <div class="col-sm-12 col-lg-9">
                        <select name="cnfRegion" [(ngModel)]="selectedCnfRegion"
                        [compareWith]="compareCnfRegion" (change)="loadCnfProvince(selectedCnfRegion)"
                            class="form-control-sm col-sm-12 col-lg-6">
                            <option [ngValue]="selectDefault2">{{selectDefault2.name}}</option>
                            <option *ngFor="let item of listCnfRegion; index as i;" [ngValue]="item">{{item.name}}
                            </option>

                        </select>
                    </div>
                    
                </div>
                <div class="form-group-sm row">
                    <label class="col-lg-3 col-sm-12 col-form-label">{{'webpagos.cnfOrg.cnfProvince' | translate}} <span
                            style="color: red;font-size: 16px !important;font-weight: bold;">*</span></label>
                    <div class="col-sm-12 col-lg-9">
                        <select name="cnfProvince" [(ngModel)]="selectedCnfProvince"
                        [compareWith]="compareCnfProvince" (change)="loadCnfDistrict(selectedCnfProvince)"
                            class="form-control-sm col-sm-12 col-lg-6">
                            <option [ngValue]="selectDefault3">{{selectDefault3.name}}</option>
                            <option *ngFor="let item of listCnfProvince; index as i;" [ngValue]="item">{{item.name}}
                            </option>

                        </select>
                    </div>
                    
                </div> -->
                <ng-container *ngFor="let item of properties.columnsForm; index as i ">
                    <div class="form-group-sm row">
                        <label class="col-lg-3 col-sm-12 col-form-label" translate="webpagos.{{item.tableName}}.{{item.columnName}}">...cargando<span
                                style="color: red;font-size: 16px !important;font-weight: bold;"> *</span></label>  
                        
                            <div class="col-sm-12 col-lg-9"> 
                                <ng-container *ngIf="item.type == 'input'" >
                                    <input type="text" maxlength="255"
                                        name="{{item.tableName}}.{{item.columnName}}" 
                                        id="{{item.tableName}}.{{item.columnName}}"  
                                        class="form-control-sm col-sm-12 col-lg-6"
                                        value="{{item.value}}" />
                                    <div class="alert alert-danger col-sm-12 col-lg-6" *ngIf='error?[item.columnName]:false'>{{ error[item.columnName] }}</div>
                                </ng-container>
                                <ng-container *ngIf="item.type == 'select'" >
                                    <select name="{{item.tableName}}.{{item.load?item.load.loadBy:item.relatedBy}}" id="{{item.tableName}}.{{item.load?item.load.loadBy:item.relatedBy}}"  
                                    (change)="load(item,i)" class="form-control-sm col-sm-12 col-lg-6">
                                            <ng-container *ngFor="let columnas of item.listData; index as u;">
                                                <option [selected]="(this.properties.id?(item.value == columnas[0]): (columnas[0]==0))" value="{{columnas[0]}}" >{{columnas[1]}} </option>
                                            </ng-container>
                                            
                                            <!-- <option *ngIf="item.tableName == item2[2]" >{{item[1]}} </option> -->
                                        <!-- <option *ngFor="let item of listLists[i]; index as o;" >{{item[1]}} </option> -->
                                        
        
                                    </select>
                                        <div class="alert alert-danger col-sm-12 col-lg-6" *ngIf='error?[item.load?item.load.loadBy:item.relatedBy]:false'>{{ error[item.load?item.load.loadBy:item.relatedBy] }}</div>
                                    
                                </ng-container>
                                <ng-container *ngIf="item.type == 'date'">
                                    <div class="input-group input-group-sm">
                                        <input placeholder="dd/mm/yyyy" 
                                        class="form-control-sm-dp col-xs-10 col-sm-10 col-lg-5"
                                        name="{{item.tableName}}.{{item.columnName}}" 
                                        id="{{item.tableName}}.{{item.columnName}}" value="{{item.value}}" maxlength="200" 
                                        ngbDatepicker #d="ngbDatepicker" >
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary calendar button-dp"
                                                (click)="d.toggle()" type="button">
                                                <i class="fa fa-calendar"></i>
                                            </button>
                                        </div>
            
                                    </div>
                                </ng-container>
                                
                            </div>
                        
                    </div>
                </ng-container>

                <div class="form-group row">

                    <div class="col-sm-12" style="padding-top: 20px;">
                        <div class="row justify-content-center">
                            <div class="col-lg-2 col-sm-4 col-xs-5" style="margin-left: 50x;">
                                <button class="btn btn-default col-12" (click)="back()" data-toggle="modal">
                                    <i class="fa fa-arrow-circle-left"></i> {{'webpagos.btnBack' | translate }}
                                </button>
                            </div>
                            <div class="col-lg-2 col-sm-4 col-xs-5" style="margin-left: 20x;">
                                <button class="btn btn-orange col-12" (click)="save()" data-toggle="modal">
                                    <i [ngClass]="id ? 'fa fa-pen' : 'fa fa-plus'"></i> {{ id ?
                                    ('webpagos.btnEdit' | translate):('webpagos.btnSave' | translate) }}
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>